<%= simple_form_for(@insumo, url: banco_emp_insumo_path(@insumo), method: :put, remote: local_assigns[:hide_buttons]) do |f| %> 
  
  <div class="form-layout">
    <div class="row mg-b-25">
      
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.input :codigo, label: "Codigo", placeholder: "Digite o Codigo", input_html: {class: "form-control", value: (@insumo.codigo ? @insumo.codigo : @insumo.sugestao_de_codigo(@current_user.empresa_id))} %>
        </div>
      </div>
      <div class="col-lg-4">
        <%= f.input :unidade, label: "Unidade", placeholder: "Digite a Unidade", input_html: {class: "form-control"} %>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.input :tipo, collection: array_tipo_insumos_descricao, as: :select, label: "Tipo", include_blank: false, input_html: { class: "form-control carregar"} %>
        </div>
      </div>
    	
      <div class="col-lg-12">
        <div class="form-group">
          <%= f.input :descricao, label: "Descrição", placeholder: "Digite a Descrição...", input_html: {class: "form-control"} %>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <%= f.input :observacao, as: :text, label: "Observações", placeholder: "Observações...", input_html: {class: "form-control"} %>
        </div>
      </div>

      <%= f.input :empresa_id, as: :hidden, input_html: {value: current_user.empresa_id} %>
      
      <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>

    </div>  

    <% unless local_assigns[:hide_buttons] %>
      <div class="form-layout-footer">
        <%= link_to link_icone('voltar-texto'), banco_sbc_insumos_path, class: "btn btn-secondary mg-r-5" %>
        <button type="submit" class="btn btn-success mg-r-5">
            <i class="fa fa-save"></i> Salvar
        </button>
      </div><!-- form-layout-footer -->
    <% else %>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success pd-x-20" id="form-modal-save-btn">Salvar</button>
        <button type="button" class="btn btn-secondary pd-x-20" id="form-modal-close-btn" data-dismiss="modal" href="#form-modal" onclick="removerMensagens();">Fechar</button>
      </div>
    <% end %>
      
  </div>
<% end %>

