<p id="notice"><%= notice %></p>

<h1>Transacaos</h1>

<table>
  <thead>
    <tr>
      <th>Estados</th>
      <th>Licencas</th>
      <th>Valor</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transacaos.each do |transacao| %>
      <tr>
        <td><%= transacao.estados %></td>
        <td><%= transacao.licencas %></td>
        <td><%= transacao.valor %></td>
        <td><%= transacao.status %></td>
        <td><%= link_to 'Show', transacao %></td>
        <td><%= link_to 'Edit', edit_transacao_path(transacao) %></td>
        <td><%= link_to 'Destroy', transacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transacao', new_transacao_path %>
