<p id="notice"><%= notice %></p>

<p>
  <strong>Estados:</strong>
  <%= @transacao.estados %>
</p>

<p>
  <strong>Licencas:</strong>
  <%= @transacao.licencas %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @transacao.valor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transacao.status %>
</p>

<%= link_to 'Edit', edit_transacao_path(@transacao) %> |
<%= link_to 'Back', transacaos_path %>
