<% if !@empresas.blank? %>
  
	<div class="pull-right">
    <%= will_paginate @empresas, remote: true, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
  <div class="table-responsive">
    <table class="table" id="empresas">
      <thead>
        <tr>
          <th class="wd-25p">Nome</th>
          <th class="wd-20p">Cnpj</th>
          <th class="wd-20p">Estado</th>
          <th class="wd-25p"></th>
        </tr>
      </thead>
      <tbody>  
        <% @empresas.each do |empresa| %>
  				<tr>
  				  <td><%= empresa.nome %></td>
  				  <td><%= empresa.cnpj %></td>
  				  <td><%= empresa.estado %></td>
  				  <td>
              <a href="" class="btn btn-secondary" data-toggle="modal" data-target="#modal<%= "#{empresa.id}" %>" title="Detalhes da Empresa"><span class='fa fa-eye'></span></a>
              <%= link_to link_icone('editar'), edit_empresa_path(empresa), class: 'btn btn-primary', remote: true %>
  				  	<%= link_to link_icone('apagar'), empresa, method: :delete, data: { confirm: "Apagar #{empresa.nome} ?" }, class: 'btn btn-danger' %>
  				  	<%= link_to link_icone('plano-texto'),empresa_planos_path(empresa), class: 'btn btn-primary' %>
  				  </td>
  				</tr>
  			<% end %>  
      </tbody>  
    </table> 
  </div>

  <div class="pull-right">
    <%= will_paginate @empresas, remote: true, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>

 <% else %>
 	<div class="alert alert-info">
		<h6> 
			Sem Resultados!!
		</h6>						
	</div>
<% end %>


<% @empresas.each do |e| %>
  
    <div id="modal<%= "#{e.id}" %>" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"><%= e.nome %></h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-20">
           
            <table class="table">
              <tr>
                <th class="bg-secondary">CNPJ</th>
                <td><%= e.cnpj %></td>
              </tr>
              <tr>
                <th class="bg-secondary">Estado</th>
                <td><%= e.estado %></td>
              </tr>
              <tr>
                <th class="bg-secondary">Nº Usuários</th>
                <td><%= e.users.count %></td>
              </tr>
              <tr>
                <th class="bg-secondary">Criado em</th>
                <td><%= e.created_at.to_s_br %></td>
              </tr>
            </table>

          </div><!-- modal-body -->
          <div class="modal-footer">
            <%= link_to link_icone('editar-texto'), edit_empresa_path(e), class: 'btn btn-primary pd-x-20', remote: true %>
            <button type="button" class="btn btn-danger pd-x-20" data-dismiss="modal"><span class='fa fa-close'></span> Fechar</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->
  
<% end %>