 
<%= simple_form_for(@empresa, remote: local_assigns[:hide_buttons], id: "empresa_id") do |f| %> 
  
  <div class="form-layout">
    <div class="row mg-b-25">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.input :nome, label: "Nome/Razão Social", required: true, placeholder: "Digite o nome ou a Razão", input_html: {class: "form-control"} %>
        </div>
      </div><!-- col-6 -->
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.input :cnpj, placeholder: "CNPJ", input_html: {class: "form-control"} %>
        </div>
      </div><!-- col-2 -->
      <div class="col-lg-6">
        <%= f.input :area, collection: array_area_atuacao, as: :select, label: "Area de Atuação", include_blank: true, :input_html => {class: "form-control"} %>
      </div>

      <div class="col-lg-2">
        <div class="form-group">
          <%= f.input :estado, collection: array_estados_do_brasil, as: :select, label: "Estado", include_blank: true, :input_html => {:class=>"form-control"} %>
        </div>
      </div><!-- col-2 -->
      <div class="col-lg-2">
        <div class="form-group">
          <%= f.input :cep, placeholder: "CEP", input_html: {class: "form-control"} %>
        </div>
      </div><!-- col-2 -->

      <div class="col-lg-2">
        <div class="form-group">
          <%= f.input :numero, placeholder: "Numero", input_html: {class: "form-control"} %>
        </div>
      </div><!-- col-2 -->
    </div><!-- row -->

    <% unless local_assigns[:hide_buttons] %>
      <div class="form-layout-footer">
        <%= link_to link_icone('voltar-texto'), empresas_path, class: "btn btn-secondary mg-r-5" %>
        <button type="submit" class="btn btn-success mg-r-5">
            <i class="fa fa-save"></i> Salvar
        </button>
      </div><!-- form-layout-footer -->
    <% else %>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success pd-x-20" id="form-modal-save-btn">Salvar</button>
        <button type="button" class="btn btn-secondary pd-x-20" id="form-modal-close-btn" data-dismiss="modal" href="#form-modal" onclick="removerMensagens();">Fechar</button>
      </div>
    <% end %>
      
  </div><!-- form-layout -->    
<% end %>
